
// //kento
$kentoBlue: rgb(22,160,216);
$kentoOrange: rgb(249,107,79);
$kentoYellow: rgb(254,193,76);

//moonman
$primaryLight: white;
$secondaryLight: rgb(119,161,178);
$tertiaryLight: rgb(1,147,126);


// dark mode
$primaryDark: rgb(71,85,105);
$secondaryDark: rgb(0, 0 ,0);
$tertiaryDark: rgb(234,62,48);