// $kentoBlue: rgb(22,160,216);
// $kentoOrange: rgb(249,107,79);
// $kentoYellow: rgb(254,193,76);
// $kentoGreen: rgb(157,184,43);

$kentoBlue: rgb(150, 150, 150);
$kentoOrange: rgb(0, 0 ,0);
$kentoYellow: rgb(254,193,76);
$kentoGreen: rgb(157,184,43);