
//kento
// $kentoBlue: rgb(22,160,216);
// $kentoOrange: rgb(249,107,79);
// $kentoYellow: rgb(254,193,76);
// $kentoGreen: rgb(157,184,43);

//moonman
$kentoBlue: rgb(234,62,48);
$kentoOrange: rgb(150,171,152);
$kentoYellow: rgb(130,171,140);
$kentoGreen: rgb(157,184,43);


//dark mode
// $kentoBlue: rgb(20, 20, 20);
// $kentoOrange: rgb(0, 0 ,0);
// $kentoYellow: rgb(234,62,48);
// $kentoGreen: rgb(157,184,43);