@import './variables';
@import './Waves.scss';
@import './Hamburger.scss';
@import './Navbar.scss';
@import './Sidebars.scss';
@import './Hero.scss';
@import './About.scss';
@import './Projects.scss';
@import './Contact.scss';

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0px auto;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: $primaryLight;
  color: white;
  max-width: 100%;
}

#dark {
  transition: background-color 0.5s ease;
  background-color: $primaryDark;
}

.App {
  display: flex;
  margin: 0px auto;
  padding: 0px 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  background: $primaryDark;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(30, 58, 138);
  border-radius: 30px;
}

.number {
  color: $tertiaryDark;
}

.btn {
  margin-top: 3.5rem;
  background-color: transparent;
  border: 2px solid $tertiaryDark;
  color: $tertiaryDark;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition-duration: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: rgba(250, 204, 21, 0.1);
  }
}
