@import './variables';

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: $kentoBlue;
  color: white;

}

.App {
  display: grid;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: left;
  height: 6%;
  gap: 5vw;
  padding: 10px 10vw;
  font-size: 1.5rem;
  position: fixed;
  background-color: $kentoBlue;
}

a {
  color: white;
  text-decoration: none;
}

.image-holder {
  position: fixed;
  border: 2px solid red;
  bottom: 0;
  right: 0;
}

.boids {
  height: 50vh;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 1vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero {
  font-size: 4rem;
  display: grid;
  justify-content: left;
  padding-left: 10vw;
  margin: 0;
  align-content: center;
  height: 50vw;
  border: 2px solid red;
}

.yellow-text {
  color: $kentoYellow;
}

.skills {
  background-color: $kentoOrange;
  justify-content: center;
  padding: 2% 10vw;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.skill-box {
  height: 200px;
  width: 150px;
  border: 6px solid white;
  border-radius: 10px;
}

.projects {
  font-size: 4rem;
  background-color: white;
  color: $kentoBlue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.contact {
  background-color: $kentoGreen;
  font-size: 3rem;
  display: grid;
  justify-content: center;

}