@import './variables';

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: $kentoBlue;
  color: white;

}

.App {
  display: flex;
  flex-direction: column;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: left;
  height: 6%;
  gap: 5vw;
  padding: 10px 10vw;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background-color: $kentoBlue;
}

a {
  color: white;
  text-decoration: none;
}

.boids {
  height: 50vh;
  width: auto;
  position: absolute;
  bottom: 14vh;
  right: 1vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero {
  font-size: 4rem;
  display: grid;
  padding-left: 10vw;
  margin: 0;
  height: 80vh;
}

.yellow-text {
  color: $kentoYellow;
}

.about {
  background-color: $kentoOrange;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10vw;  
  min-height: 100vh;
}

.about h1 {
  font-size: 4rem;
}

.info {
  font-size: 1.5rem;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
  justify-items: center;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  border-radius: 10px;
  padding: auto;
}

.skill-box img {
  height: 120px;
  width: auto;
  filter: grayscale(10%);
  opacity: 50%;
  transition: all .2s ease-in-out;
}

.skill-box img:hover {
  opacity: 100%;
  filter: grayscale(0%);
  transform: scale(1.1);
}

.projects {
  font-size: 4rem;
  background-color: white;
  color: $kentoBlue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  height: 100vh;
}

.contact {
  background-color: $kentoBlue;
  font-size: 2rem;
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
  position: relative;

}

.contactBtns {
  display: flex;
  gap: 30px;
}

.contactBtns button {
  color: white;
  font-size: 2rem;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-color: $kentoGreen;
  border: 10px solid white;
  cursor: pointer;
}

.contact-btn {
  height: 80px;
  width: auto;
}

.sunman {
  position: absolute;
  height: 300px;
  width: auto;
  right: 10%;
  bottom: 300px;
}

.palletbug {
  position: absolute;
  height: 100px;
  width: auto;
  left: 10%;
  bottom: 150px;
  transform: rotate(40deg);
}