.contact {
  max-width: 800px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  animation: fadeIn 3s;
  min-height: 100vh;
}

.touch-title {
  font-size: 1.2rem;
  margin: 0;
}

.contact-title {
  font-size: 3rem;
  margin: 0;
}

.contact-text {
  color: $secondaryDark
}

.contactBtns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.contact-link {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .contactBtns {
    flex-direction: column;
  }
}