.left-sidebar {
  position: fixed;
  bottom: 0;
  left: 3rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.right-sidebar {
  position: fixed;
  bottom: 0;
  right: -2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.sidelines {
  border-color: $secondaryDark;
  height: 15vh;
  width: 1px;
  margin: 0;
}

.side-img {
  height: 1.5rem;
}

.sidemail {
  transform: rotate(90deg);
  text-decoration: none;
  color: $secondaryDark;
}

@media (max-width: 770px) {
  .left-sidebar {
    display: none;
  }

  .right-sidebar {
    display: none;
  }
}
