

.spacer {
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .layer1 {
    background-image: url('../imgs/bg/layered-waves-haikei-light.svg');
  }
  
  #dark .layer1 {
    background-image: url('../imgs/bg/layered-waves-haikei-dark.svg');
  }
  
  .layer2 {
    background-image: url('../imgs/bg/layered-waves-haikei-l2.svg');
  }
  
  #dark .layer2 {
    background-image: url('../imgs/bg/layered-waves-haikei-d2.svg');
  }
  
  .layer3 {
    background-image: url('../imgs/bg/layered-waves-haikei-l3.svg');
  }
  
  #dark .layer3 {
    background-image: url('../imgs/bg/layered-waves-haikei-d3.svg');
  }
  