html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Roboto';
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 5vw;
}